/*
  Theme: My Theme
*/

//  Main Colors Vars
$font-color: #fff;
$interactive-font-color: #ffed00;
$background-color: #000;
$button-color: #e3000b;

// Font
@font-face {
  font-family: "Legothick";
  src: url("../font/Legothick.eot?") format("eot"), url("../font/Legothick.woff") format("woff"),
    url("../font/Legothick.ttf") format("truetype"), url("../font/Legothick.svg#Legothick") format("svg");
  font-weight: normal;
  font-style: normal;
}

// Font
$font-family: $font-title, "Legothick", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// Text
$line-height: 1.3em !default;
$base-font-size: 18px !default;

$button-width: 42px !default;
$button-height: 42px !default;

@import "../base/core";
